[BASE]
min-public-methods=0
max-args = 11
max-locals = 20
max-branches = 20

[MASTER]
extension-pkg-whitelist=pydantic,fastapi

[TYPECHECK]
ignored-modules=object_detectien.utils

[FORMAT]
max-line-length=250

[SIMILARITIES]
min-similarity-lines=10